*.log
*.exe
*.ilk
*.pdb
*.ncb
*.obj
*.dep
*.manifest
*.res
*.idb
*.ttc
*.ttf
*.lib
*.dll
*.pch
*.sbr
*.bsc
*.pch
*.bsc
*.db
*/Debug/*
*/Font/*
*/Sound/*
*/Music/*
*/Data/*
*.pak
.vs
*.rar
*.zip
*/bin/*
*.opendb
*.tlog
*.cache